
@{
    ViewBag.Title = "AcercaDe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #cart1:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,9));
    }

    #cart2:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,9));
    }

    #cart3:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,9));
    }
    
</style>
<head>
    <link rel="icon" type="image/png" sizes="500x500" href="assets/favicon.png" />
</head>
<header>
        <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div id="cart1" class="carousel-item active" data-bs-interval="10000">
                    <img src="~/Images/Ferreteria-1.jpg" height="400" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Visítanos</h5>
                        <p>Visita nuestras sucursales y encuentra más información en nuestras redes sociales.</p>
                    </div>
                </div>
                <div id="cart2" class="carousel-item" data-bs-interval="2000">
                    <img src="~/Images/Ferretería-2.jpeg" height="400" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Tienda online</h5>
                        <p>Encuentra todo lo que necesites y realiza tus compras desde la comodidad de tu hogar.</p>
                    </div>
                </div>
                <div id="cart3" class="carousel-item">
                    <img src="~/Images/Ferretería-3.jpg" height="400" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Gran variedad de herramientas</h5>
                        <p>Somos distribuidores oficiales de diversas marcas de maquinaria.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </header>
@*<header class="masthead d-flex align-items-center">
        <div class="container px-4 px-lg-5 text-center">
            <h1 class="text-white mb-1"><strong>Bienvenido a Ferreland</strong></h1>
            <h3 class="text-white mb-5"><em>Donde todo es fácil de comprar...</em></h3>
            <a class="text-white btn btn-primary btn-xl" href="#about">Saber más</a>
        </div>
    </header>*@
<section class="content-section bg-primary text-white text-center px-4 px-lg-5 py-4 py-lg-5">
    <!-- Three columns of text below the carousel -->
    <div class="row px-2">
        <div class="col-lg-4">
            @*<svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>*@
            <iframe class="bd-placeholder-img rounded-circle" src="~/Images/IconoTrofeo.svg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"></iframe>

            <h2 class="fw-normal">Calidad</h2>
            <p>Ofrecemos productos de la más alta calidad y de las mejores marcas en el mercado. ¡Conócenos!</p>
            @*<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>*@
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <iframe class="bd-placeholder-img rounded-circle" src="~/Images/price.svg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"></iframe>

            <h2 class="fw-normal">Precio</h2>
            <p>Contamos con productos de todo precio, accesibles y con mucha calidad.</p>
            @*<p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>*@
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <iframe class="bd-placeholder-img rounded-circle" src="~/Images/expe.svg" width="140" height="140" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"></iframe>

            <h2 class="fw-normal">Experiencia</h2>
            <p>Tenemos amplia experiencia y trayectoria, somos profesionales en lo que hacemos.</p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
</section>
@*<section class="page-section about-heading">
        <div class="container">
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/Images/ferreland_puerto_AN.jpg" alt="..." />
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5">
                            <h2 class="section-heading mb-4">
                                <span class="section-heading-upper">Strong Coffee, Strong Roots</span>
                                <span class="section-heading-lower">About Our Cafe</span>
                            </h2>
                            <p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up rich coffee sourced from artisan farmers in various regions of South and Central America. We are dedicated to travelling the world, finding the best coffee, and bringing back to you here in our cafe.</p>
                            <p class="mb-0">
                                We guarantee that you will fall in
                                <em>lust</em>
                                with our decadent blends the moment you walk inside until you finish your last sip. Join us for your daily routine, an outing with friends, or simply just to enjoy some alone time.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@

<section class="content-section px-5 px-lg-5 py-4 py-lg-5">
    <div id="about" class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">ACERCA DE <span class="text-primary">NOSOTROS</span></h2>
            <p class="lead mb-0">
                FERRELAND es una empresa dedicada a la comercialización y distribución de materiales para la construcción que se ha caracterizado por ser una empresa innovadora en el sector, brindando un trato cordial y personalizado a su clientela.
                Contamos con tres sucursales, estratégicamente ubicadas en la localidad de Puerto Escondido estado de Oaxaca, teniendo nuestra casa matriz ubicada en la Calle 3ra Poniente #911.
                Contamos con un stock con más de 500.000 ítems de las mejores marcas del Mercado a un precio accesible. Adicionalmente, brindamos asesoría técnica y de materiales para que logren diseños constructivos y de remodelación acordes a sus necesidades.
                Para nuestra empresa es importante servirle con los mejores productos, a los mejores precios y con el mejor servicio.
            </p>
        </div>
        <div class="col-md-5">
            <img class="img-fluid rounded-circle about-heading-img mb-3 mb-lg-0" width="355" height="355" src="~/Images/ferreland_puerto_AN.jpg" alt="..." />

        </div>
    </div>
</section>
<hr class="featurette-divider">
<section class="content-section px-5 px-lg-5 py-4 py-lg-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">NUESTRA <span class="text-primary">MISIÓN.</span></h2>
            <p class="lead">Proveer soluciones con materiales y herramientas de ferretería para la construcción civil, pequeña y mediana industria, contando con un amplio y permanente stock que permita llegar a los clientes con un servicio oportuno de alta calidad a un precio competitivo. Ofrecer la mejor atención posible a sus clientes a través de un personal altamente capacitado, eficiente y responsable.</p>
        </div>
        <div class="col-md-5 order-md-1">
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" width="500" height="500" src="~/Images/Mision.jpg" alt="..." />
        </div>
    </div>
</section>
<hr class="featurette-divider">
<section class="content-section px-5 px-lg-5 py-4 py-lg-5">
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">NUESTRA <span class="text-primary">VISIÓN</span></h2>
            <p class="lead">Ser reconocidos como líderes en proveer soluciones completas en materiales de ferretería, cuya atención al cliente brinda un cartera de servicios complementarios y de calidad creando valor económico a través de la búsqueda de la excelencia y su expansión en el mercado local.</p>
        </div>
        <div class="col-md-5">
            @*<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>*@
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" width="350" height="350" src="~/Images/VisionImg.jpg" alt="..." />

        </div>
    </div>
</section>
    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- Project One Row-->
    <!-- /.container -->
